<div class="sidebar">

  <div class="logo">
    <div class="logo-icon">S</div>
    <h2>SmartHire</h2>
  </div>

  <nav>

    <a
      routerLink="/dashboard"
      routerLinkActive="active">
      🏠 Dashboard
    </a>

    <a
      routerLink="/applications"
      routerLinkActive="active">
      💼 Applications
    </a>

    <a
      routerLink="/interviews"
      routerLinkActive="active">
      📅 Interviews
    </a>

    <a
      routerLink="/skill-analyzer"
      routerLinkActive="active">
      🧠 Skill Analyzer
    </a>

    <a
      routerLink="/mock-interview"
      routerLinkActive="active">
      🎤 Mock Interview
    </a>

    <a
      routerLink="/resume"
      routerLinkActive="active">
      📄 Resume
    </a>

    <a
      routerLink="/notifications"
      routerLinkActive="active">
      🔔 Notifications
    </a>

  </nav>

  <div class="sidebar-bottom">

    <a routerLink="/">
      🚪 Logout
    </a>

  </div>

</div>

